.bar {
    background-color: #555555;
    height: 64px;
}

#home-icon {
    padding-left: 16px;
}

.bar img {
    height: 40px;
    padding-top: 12px;
    display: inline-block;
}

.burger-menu {
    display: inline-block;
    position: absolute;
    right: 16px;
}

.nav-content {
    background-color: #cfcccc;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    color: rgb(10, 10, 10);
    padding: 12px;
    text-align: center;
    display: block;
    font-size: 16px;

}

.nav-content-none {
    display: none;
}